@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #0D3B66;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #0D3B66;
}

header img {
    height: 70px;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    font-family: "DM Mono";
    font-weight: bold;
    color: #ccc;

}

.menu {
    display: flex;
    gap: 15px;
}

.menu div {
    width: 30px;
    height: 5px;
    background-color: black;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10px, 1fr, 10px, 1fr, 10px, 1fr, 10px, 1fr, 10px);
}

footer {
    border-top: 2px solid #ccc;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: #ccc;
}

nav a {
    text-align: center;
    color: #f7f7ff;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #EAC435;
    color: #f7f7ff;
}

.card-img {
    grid-column: 2/3;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #000000;
}

.firebase-card {
    grid-column: 4/5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aws-card button,
.firebase-card button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #EAC435;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(DM Mono);
}

p, a {
    font-family: "DM Mono";
}