body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.item1 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
}

.item2 {
    text-align: right;
}

.item3 {
    background-color: lightgrey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    color: red;
}
